
/* ⋅•⋅⊰∙∘☽ Global stuff(?) ☾∘∙⊱⋅•⋅ */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}       /* ---> hidden scrollbar from w3schools */

body{
    background-color: #ffff;
    overflow-x: hidden;
}



/* ⋅•⋅⊰∙∘☽ NAVIGATION BAR ☾∘∙⊱⋅•⋅ */
nav{
    display: flex;
    width: 100%;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.874),
                0 2px 25px #3507ff;
    padding: 0px 5%;
    position: fixed;
    top: 0;
    z-index: 1000;

    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    
    
    background: 
    radial-gradient(
        at center -150%, 
        rgba(255, 255, 255, .4) 40%, 
        rgba(0, 0, 0, .6) 70%
        ),
    url("navBarBG"); /* https://www.magnific.com/free-vector/abstract-perspective-graph-pattern-grid-vector-design_51706871.htm#fromView=keyword&page=1&position=0&uuid=690a3175-af47-4a4d-8bcb-19f29e5545c8&query=Black+grid+background */ 
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #e9dbff;
    padding-right: 5%;
    white-space: nowrap;
}

nav a{
    text-decoration: none;
    text-shadow:0 0 10px #ffffff, 0 0 20px #3507ff;   
}

nav ul{
    display: flex;
    list-style: none;
}

nav li a{
    color: #e9dbff;
    font-size: 16px;
    transition: color .3s ease;
    display: flex;
    padding: 20px 30px;
}

nav li a:hover{
    color: #976bf6;
    background-color: rgba(0, 0, 0, .7);
}

li:not(:first-child){
    border-left: 1px solid white;
} 

li:not(:first-child):not(:last-child){
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.874),
                0 0 25px #3507ff;
    
}



/* ⋅•⋅⊰∙∘☽ BACKGROUND ☾∘∙⊱⋅•⋅ */
.scroll{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.parallax{
    height: 300vh;
    width: 100%;
    position: absolute;

    background: linear-gradient(rgba(0, 0, 0, .6) 20%, rgba(0, 0, 0, .4)), 
				url("stars-space.gif");/* https://tenor.com/view/stars-space-blinking-gif-10704576 */
	mask-image: linear-gradient(#ffffff 40%, transparent);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
        /* ---> most of parallax code from w3schools */

.white{
    height: 200px;
    width: 100%;
    margin-top: 300vh; 
    background-color: #ffffff;
}

.sign{
    position: sticky;
	padding: 0 10%;
    width:100%;
    z-index: 1;
    display: grid;
    place-items:center;
    align-self: start;
    top: 50%;
    transform: translateY(-50%);
}

.sign hr {
    border: 1px solid white;
    z-index:1;
}

.long {
    width:80%;
}

.short {
    width: 40%;
}

.highlight {
    color: white;
    padding:25px;
    width: 80vw;
    background-color: rgba(212, 149, 255, 0.783);
    text-shadow: 0 0 10px #ffffff, 0 0 20px #3507ff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.874),
                0 0 25px #3507ff;
}

.broom {
  position: absolute;
  height: 100px;
  transform: rotate(20deg);
  margin:auto;
  bottom: -3em;
  left: 1em;
  z-index: 2;
}

.hat {
  position: absolute;
  height: 100px;
  transform: rotate(10deg);
  bottom: 60px;
  right:2%;
  z-index:3;
}